body {
  background-color: #e3fdfd;
}

hr {
  border: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}
a:hover{
  color: gold;
}
img{
  border-radius: 70%;
}
